.contactUsForm{
    height: 100%;
    width: 100%;
    padding: 4%;

}

.topText{
    font-family: 'Electrolize';
    font-size: 2.5vw
}

.contactUsFormFname{
    width: 48%;
    float: left;
}

.contactUsFormLname{
    float: right;
    width: 48%;
}

.contactUsFormEmail{
    width: 100%;

}

.contactUsFormSubmit{
    border-radius: 1vh;
    background-color: var(--primary);
    width: 100%;
    height: 10%;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 3vh;
    font-family: 'Acme', sans-serif;
}

.contactUsFormInput{
    height: 10%;
    border: 1px solid  #0ba4d499;
    padding: 5%;
    margin-bottom: 5%;

}

.contactUsFormInput:focus{
    border: 0px;
    outline: none;
    background-color: #0ba4d422;
}

.contactUsFormTextArea{
    resize: none;
    width: 100%;
    height: 35%;
    padding: 10px;
    margin-bottom: 4%;
    border: 1px solid  #0ba4d499;
}

.contactUsFormTextArea:focus{
    background-color: #0ba4d422;
}



@media (pointer:none), (pointer:coarse), (max-width: 900px) {

    .contactUsForm{
        height: 100%;
        width: 100%;
        padding: 10%;
        overflow: auto;
    }
    .topText{
        font-size: 6vw
    }

    .contactUsFormFname, .contactUsFormLname, .contactUsFormEmail{
        width: 100%;
        border: 0px;
    }
    .contactUsFormInput{
        font-size: 2vh;
        padding-left: 5%;
    }
    .contactUsFormTextArea{
        resize: none;
        width: 100%;
        height: 35%;
        padding: 10px;
        margin-bottom: 4%;
    }
}

